*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

body a{
    color: white;
}

.main{
    background-color: white;
    color: black;
    font-size: 25px;
    display: flex; 
    flex-direction: column;
    width: 70%;
}

.button{
    justify-content: space-between;
    display: flex;
    margin: 50px;
}

#start{
    font-size: 60px;
    letter-spacing: 10px;
}

.main button{
    font-size: 25px;
    text-align: left;
    display: flex;
}

h1{
    width: 300px;
    letter-spacing: 5px;
}

#timeRemain{
  display: flex;
  background-color: darkcyan;
  justify-content: center;
  font-size: 30px;  
  letter-spacing: 10px;
}